$primary: #11998e;
$secondary: #38ef7d;
$white: antiquewhite;
$gray: #9b9b9b;
$background: #024635;
$backgroundsec: rgb(5, 202, 104);


body{
    background-image: linear-gradient(to top, $background, $backgroundsec);
    
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;

}
 #input-el{
    
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    
 }
 #input-el:focus{
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-bottom: 2px solid $gray;
    border-image: none;
    
}
#input-btn{
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    cursor:pointer;
    text-emphasis-color:$white;
}
a{
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    cursor:pointer;
    text-decoration: none;
    color: antiquewhite;
    padding-top: 5px;
}
#delete-btn{
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid $gray;
    
    border-image-slice: 1;
    cursor:pointer;
    text-emphasis-color:$white;
    text-transform:uppercase;
}
#tab-btn{
    text-transform:uppercase;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    cursor:pointer;
    text-emphasis-color:$white;
}